
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "node_modules/font-awesome/scss/font-awesome";

.bg-light {
  background-color: #f7f7f7;
}

.scroll-up {
  position: fixed;
  bottom: 7px;
  right: 7px;
  z-index: 999;
}

.scroll-up a {
  background: #fff;
  display: block;
  height: 28px;
  width: 28px;
  text-align: center;
  line-height: 28px;
  font-size: 14px;
  color: #000;
  opacity: .6;
  border-radius: 2px;
}

.hero {

}

.hero h1 {
  letter-spacing: 1em;
  text-transform: uppercase;
}

.hero h2 {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
}

.page {

}

.page h3 {
  text-align: center;
  text-transform: uppercase;
}

.circle-image {
  border-radius:50%;
}

.client-item {
  text-align: center;
}

.breakout {
  width:100vw;
  position:relative;
  left:calc(-1 * (100vw - 100%) / 2);
}